body {
  font-family: "Open Sans", sans-serif;
  background: #f9fafc;
}

header {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  color: #69696a;
  text-decoration: none;
}

button {
  background-color: #000;
  color: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
}

p {
  border-left-style: solid;
  border-color: #69696a;
  color: #69696a;
}
